// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
body {
  background: black;
  font-family: var(--overpass);
}

p {
  font-size: 15px;
  color: var(--medium-grey);
}

main,
section {
  background: linear-gradient(
    to bottom,
    var(--dark-blue) -35%,
    var(--very-dark-blue)
  );
  width: 350px;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

main {
  .star-container {
    background: var(--dark-blue);
    width: 3rem;
    height: 3rem;
    border-radius: 999px;
    padding: 1rem;
  }
  h1 {
    line-height: 1;
    font-weight: var(--bold);
    color: var(--white);
    margin-block: 1.5rem;
  }
  p {
    line-height: 1.6;
  }

  form {
    .button-container {
      display: flex;
      justify-content: space-between;
      margin-block: 1.5rem;
      button {
        background: var(--dark-blue);
        border-radius: 999px;
        width: 3rem;
        height: 3rem;
        color: var(--medium-grey);
        font-weight: var(--bold);
        &:hover {
          background: var(--orange);
          color: var(--white);
        }
      }
      .checked {
        background: var(--light-grey);
        color: var(--white);
      }
    }
    button[type="submit"] {
      width: 100%;
      border-radius: 999px;
      letter-spacing: 1px;
      text-align: center;
      color: var(--white);
      background: var(--orange);
      padding-block: 0.75rem;
      &:hover {
        background: var(--white);
        color: var(--orange);
      }
    }
  }
}

section {
  img {
    margin: auto;
  }
  div {
    display: flex;
    margin-block: 1.5rem;
    p {
      background: var(--dark-blue);
      color: var(--orange);
      margin: auto;
      padding: 0.25rem 1rem;
      border-radius: 999px;
      line-height: 1.5;
    }
  }
  h2 {
    text-align: center;
    color: var(--white);
  }
  p {
    margin-block: 0.5rem;
    color: var(--light-grey);
    text-align: center;
  }
}
